- if current_user
  %div{ class: 'new-device' }
    = form_for(@new_device, url: devices_create_path) do |f|
      %div{ class: 'name' }
        = f.label(:name, 'Name')
        = f.text_field(:name)
      %div{ class: 'device-model' }
        = f.label(:model, 'device_model')
        = f.text_field(:model)
      %div{ class: 'button' }
        = f.submit('New')

%h2= 'Recent Devices'

%ul{ class: 'device-list' }
  - @devices.each do |d|
    %li
      = link_to("#{d.name} : #{d.model}", device_show_path(d.model))
