- if current_user
  %div{ class: 'new-device' }
    = form_for(@new_device, url: devices_create_path) do |f|
      %div{ class: 'name' }
        = f.text_field(:name, placeholder: 'Name')
      %div{ class: 'device-model' }
        = f.text_field(:model, placeholder: 'Device Model')
      %div{ class: 'button' }
        = f.submit('New')

%h2= 'Recent Devices'

%ul{ class: 'device-list' }
  - @devices.each do |d|
    %li
      = link_to("#{d.name} : #{d.model}", device_show_path(d.model))
      = 'by'
      = link_to(d.user.name, users_show_path(d.user.id))
