%p= @device.name
%p= @device.model
%p= @device.scraped
%ul
  - @device.slots.each do |slot|
    %li
      %dl
        %dt= 'name'
        %dd= slot.name
        %dt= 'slot_id'
        %dd= slot.drs_slot_id
        %dt= 'items'
        %dd
          %ul
            - slot.items.each do |item|
              %li= item.asin
