!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DashDevices
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %ul{ id: "navigation-bar" }
      %li
        %p= link_to('Top', root_path)
      %li
        %div{ class: "user-data" }
          - if current_user
            %p
              = 'Hi, '
              = link_to(current_user.name, users_show_path(current_user.id))
              = '.'
            = form_tag(logout_path, method: :post) do
              = submit_tag('Logout', id: 'logout-button')
          - else
            %p= link_to('Login with Amazon', '/auth/amazon')
    = yield
